
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>康美之恋</title>
		<meta name="Keywords" content="${keywords}"/>
		<meta name="Description" content="${description}"/>
		<link rel="shortcut icon" href="/affixes/images/logos/favicon.png" type="image/x-icon"/>
		<link rel="stylesheet" href="/css/core/reset.css" />
		<link rel="stylesheet" href="/css/core/layout.css" />
		<link rel="stylesheet" href="/css/core/function.css" />
		<link rel="stylesheet" href="/css/lib/module.css" />	
		<link rel="stylesheet" href="/css/lib/tpl.css" />	
		<link rel="stylesheet" href="/css/pages/index.css" />	
	</head>
	<body>
		<!-- 导航栏 -->
		<div class="i-nav">
		   ${cate_1}
		</div>
	</body>
</html>