<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--定义一个名为STDOUT的appender，并将其关联到ch.qos.logback.core.ConsoleAppender-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders 作用是将logger事件转换成字节数组，并将字节数组写入到输出流-->
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %msg：日志消息，%n是换行符-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}[%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${CATALINA_HOME:-.}/logs/sms.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 每天滚动 -->
            <fileNamePattern>
                ${CATALINA_HOME:-.}/logs/sms.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <!-- 限制文件最大保存时间为30天-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35}[%L] - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.ibatis" level="debug"/>
    <logger name="java.sql.Connection" level="debug"/>
    <logger name="java.sql.PreparedStatement" level="debug"/>
    <root level="info">    <!-- root logger，定义级别为debug-->
        <!--将名为STDOUT的appender添加到root logger下-->
        <appender-ref ref="STDOUT"/>
        <!--将名为STDOUT的appender添加到root logger下-->
        <appender-ref ref="FILE"/>
    </root>
</configuration>
